body {
    font-family: sans-serif;
    background-color: black;
    font-size: 32px;
}

h1 {
    color: bisque;
    font-family: Kaisei Tokumin;
    font-size: 70px;
}

.da {
    margin-right: 700px;
    margin-top: 18px;
}

.hutao {
    color: #FF6868;
}

.ei {
    color: #9854EB;
}

footer{
    background-color: #CC6060;
    padding: 10px;
}

header{
    background-color: #4A0000;
}

a {
    margin: 170px;
    background-color: #5F99A6;
    color: white;
    font-family: JejuMyeongjo;
    padding: 10px;
    font-size: 30px;
    border-radius: 11px;
    text-decoration: none;
}

footer p {
    background-color: #FBEDD7;
    padding: 10px;
    font-family: JejuMyeongjo;
    text-align: center;
    font-size: 32px;
}

.personazhi {
    background-color: #00C9F6;
}
